######################## BUILD SETTINGS #####################################
PLUGIN_REGISTRY=docker.io
PLUGIN_REPO=kameshsampath/fruits-ui
PLUGIN_TAG=0.0.1
PLUGIN_USERNAME=kameshsampath
PLUGIN_PASSWORD=

######################## RDBMS #####################################
# Toggle this to suit your environment mysql/pgsql
FRUITS_DB_TYPE=pgsql

## Postgresql
POSTGRES_HOST="postgresql"
POSTGRES_PORT="5432"
POSTGRES_USER=demo
POSTGRES_PASSWORD=pa55Word!
POSTGRES_DB=demodb

## MariaDB/MySQL
MYSQL_HOST="mysql"
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=superS3cret!
MYSQL_PASSWORD=pa55Word!
MYSQL_USER=demo
MYSQL_DATABASE=demodb

## SQLite
FRUITS_DB_FILE="$PWD/work/fruits-api.db"

######################## NOSQL(MongoDB) #####################################
QUARKUS_MONGODB_CONNECTION_STRING=''

######################## Application(API) #####################################
# The Fruits API Image to use
FRUITS_API_IMAGE=kameshsampath/fruits-api:0.2.0-go-mongo
